In [1]:
#Import libraries
import altair as alt
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os
import pandas as pd

In [2]:
# Directory containing the main folder
main_dir = "put the path where you have unzipped the files"

In [3]:
# Get list of subfolders
subfolders = [f.name for f in os.scandir(main_dir) if f.is_dir()]

# Dictionary to hold your dataframes
dfs = {}

for subfolder in subfolders:
    # Concatenate main folder with subfolder name
    folder_path = os.path.join(main_dir, subfolder)
    
    # Get the single CSV file in the subfolder
    csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]
    
    # Assuming there's only one CSV file, fetch it
    if len(csv_files) == 1:
        csv_file = csv_files[0]
        # Load the data from CSV
        df = pd.read_csv(os.path.join(folder_path, csv_file))
        
        # Create a dynamic variable name based on subfolder name
        var_name = "df_" + subfolder[:3]
        dfs[var_name] = df
    else:
        print(f"More than one CSV file found in {subfolder}, or none found.")

In [4]:
for k in dfs:
    print(k)

df_AIS
df_Can
df_sus
df_win
df_You

In [5]:
def display_info(df):
    """
    Display basic information about the DataFrame.
    """
    print("\n--- Info ---\n")
    print(df.info())

In [12]:
def display_head(df, n=5):
    """
    Display the first n rows of the DataFrame.
    """
    print("\n--- Head ---\n")
    print(df.head(n))

In [7]:
def display_describe(df):
    """
    Display descriptive statistics of the DataFrame.
    """
    print("\n--- Describe ---\n")
    print(df.describe())

In [13]:
def display_single(df):
    """
    For a single DataFrame, display its info, head, and descriptive statistics.
    """
    display_info(df)
    display_head(df)
    display_describe(df)
    print("\n" + "-"*50 + "\n")

In [15]:
# Now you can use:
for k in dfs:
    print(f"DataFrame: {k}")
    display_single(dfs[k])

DataFrame: df_AIS

--- Info ---

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6775 entries, 0 to 6774
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           6775 non-null   int64
 1   experience_level    6775 non-null   object
 2   employment_type     6775 non-null   object
 3   job_title           6775 non-null   object
 4   salary              6775 non-null   int64
 5   salary_currency     6775 non-null   object
 6   salary_in_usd       6775 non-null   int64
 7   employee_residence  6775 non-null   object
 8   remote_ratio        6775 non-null   int64
 9   company_location    6775 non-null   object
 10  company_size        6775 non-null   object
dtypes: int64(4), object(7)
memory usage: 582.4+ KB
None

--- Head ---

   work_year experience_level employment_type                   job_title  \
0       2023               MI              FT                 AI Engineer
1       2023               MI              FT                Data Manager
2       2023               MI              FT                Data Manager
3       2023               SE              FT  Machine Learning Scientist
4       2023               SE              FT  Machine Learning Scientist

   salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0  140000             USD         140000                 US           100
1  130000             USD         130000                 US             0
2  100000             USD         100000                 US             0
3  163800             USD         163800                 US             0
4  126000             USD         126000                 US             0

  company_location company_size
0               US            S
1               US            M
2               US            M
3               US            M
4               US            M

--- Describe ---

         work_year        salary  salary_in_usd  remote_ratio
count  6775.000000  6.775000e+03    6775.000000   6775.000000
mean   2022.659779  1.799383e+05  147883.634539     41.394834
std       0.594581  5.149935e+05   63967.970324     48.460685
min    2020.000000  1.400000e+04   15000.000000      0.000000
25%    2022.000000  1.050000e+05  104584.000000      0.000000
50%    2023.000000  1.438600e+05  141525.000000      0.000000
75%    2023.000000  1.871000e+05  185900.000000    100.000000
max    2023.000000  3.040000e+07  450000.000000    100.000000

--------------------------------------------------

DataFrame: df_Can

--- Info ---

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38985 entries, 0 to 38984
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             38985 non-null  int64
 1   REF_DATE               38985 non-null  object
 2   GEO                    38985 non-null  object
 3   Sex                    38985 non-null  object
 4   Age group              38985 non-null  object
 5   Employment             38985 non-null  float64
 6   Full-time employment   37290 non-null  float64
 7   Labour force           38985 non-null  float64
 8   Part-time employment   37289 non-null  float64
 9   Population             38985 non-null  float64
 10  Unemployment           38979 non-null  float64
 11  Employment rate        38985 non-null  float64
 12  Participation rate     38985 non-null  float64
 13  Unemployment rate      38979 non-null  float64
 14  Latitude               38985 non-null  float64
 15  Longitude              38985 non-null  float64
dtypes: float64(11), int64(1), object(4)
memory usage: 4.8+ MB
None

--- Head ---

   Unnamed: 0 REF_DATE      GEO         Sex          Age group  Employment  \
0           0  1976-01  Alberta  Both sexes     15 to 24 years    231800.0
1           1  1976-01  Alberta  Both sexes     15 to 64 years    802400.0
2           2  1976-01  Alberta  Both sexes  15 years and over    819500.0
3           3  1976-01  Alberta  Both sexes     25 to 54 years    491400.0
4           4  1976-01  Alberta  Both sexes  25 years and over    587700.0

   Full-time employment  Labour force  Part-time employment   Population  \
0              174900.0      252300.0                56900.0    362300.0
1              682100.0      837500.0               120300.0   1154800.0
2              693700.0      856500.0               125800.0   1276700.0
3              439800.0      505800.0                51600.0    661700.0
4              518800.0      604200.0                68900.0    914400.0

   Unemployment  Employment rate  Participation rate  Unemployment rate  \
0       20500.0             64.0                69.6                8.1
1       35000.0             69.5                72.5                4.2
2       37000.0             64.2                67.1                4.3
3       14400.0             74.3                76.4                2.8
4       16500.0             64.3                66.1                2.7

    Latitude   Longitude
0  55.001251 -115.002136
1  55.001251 -115.002136
2  55.001251 -115.002136
3  55.001251 -115.002136
4  55.001251 -115.002136

--- Describe ---

         Unnamed: 0    Employment  Full-time employment  Labour force  \
count  38985.000000  3.898500e+04          3.729000e+04  3.898500e+04
mean   19492.000000  1.674920e+06          1.402672e+06  1.817379e+06
std    11254.144459  3.157376e+06          2.709031e+06  3.406108e+06
min        0.000000  5.000000e+03          4.100000e+03  5.700000e+03
25%     9746.000000  1.428000e+05          1.039000e+05  1.605000e+05
50%    19492.000000  4.172000e+05          3.123000e+05  4.475000e+05
75%    29238.000000  1.643800e+06          1.316950e+06  1.787500e+06
max    38984.000000  2.003230e+07          1.643700e+07  2.107830e+07

       Part-time employment     Population  Unemployment  Employment rate  \
count           3.728900e+04  3.898500e+04  3.897900e+04     38985.000000
mean            2.846479e+05  2.672215e+06  1.424808e+05        57.681218
std             5.369204e+05  4.817956e+06  2.609124e+05        16.254158
min             5.000000e+02  1.770000e+04  2.000000e+02        11.600000
25%             2.420000e+04  2.993000e+05  1.480000e+04        50.900000
50%             7.150000e+04  6.890000e+05  3.690000e+04        60.400000
75%             2.924000e+05  2.698000e+06  1.502000e+05        68.900000
max             3.677100e+06  3.207040e+07  2.691100e+06        87.800000

       Participation rate  Unemployment rate      Latitude     Longitude
count        38985.000000       38979.000000  38985.000000  38985.000000
mean            63.677543           9.472131     52.736199    -88.456785
std             17.256123           4.565192      4.870044     22.407154
min             13.900000           0.800000     45.196040   -125.002441
25%             59.300000           6.100000     46.500283   -107.991707
50%             66.500000           8.500000     53.821733    -86.000977
75%             75.500000          12.000000     55.001251    -63.165379
max             91.600000          36.200000     61.066692    -61.229553

--------------------------------------------------

DataFrame: df_sus

--- Info ---

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 21 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Entity                                                            3649 non-null   object
 1   Year                                                              3649 non-null   int64
 2   Access to electricity (% of population)                           3639 non-null   float64
 3   Access to clean fuels for cooking                                 3480 non-null   float64
 4   Renewable-electricity-generating-capacity-per-capita              2718 non-null   float64
 5   Financial flows to developing countries (US $)                    1560 non-null   float64
 6   Renewable energy share in the total final energy consumption (%)  3455 non-null   float64
 7   Electricity from fossil fuels (TWh)                               3628 non-null   float64
 8   Electricity from nuclear (TWh)                                    3523 non-null   float64
 9   Electricity from renewables (TWh)                                 3628 non-null   float64
 10  Low-carbon electricity (% electricity)                            3607 non-null   float64
 11  Primary energy consumption per capita (kWh/person)                3649 non-null   float64
 12  Energy intensity level of primary energy (MJ/$2017 PPP GDP)       3442 non-null   float64
 13  Value_co2_emissions_kt_by_country                                 3221 non-null   float64
 14  Renewables (% equivalent primary energy)                          1512 non-null   float64
 15  gdp_growth                                                        3332 non-null   float64
 16  gdp_per_capita                                                    3367 non-null   float64
 17  Density\n(P/Km2)                                                  3648 non-null   object
 18  Land Area(Km2)                                                    3648 non-null   float64
 19  Latitude                                                          3648 non-null   float64
 20  Longitude                                                         3648 non-null   float64
dtypes: float64(18), int64(1), object(2)
memory usage: 598.8+ KB
None

--- Head ---

        Entity  Year  Access to electricity (% of population)  \
0  Afghanistan  2000                                 1.613591
1  Afghanistan  2001                                 4.074574
2  Afghanistan  2002                                 9.409158
3  Afghanistan  2003                                14.738506
4  Afghanistan  2004                                20.064968

   Access to clean fuels for cooking  \
0                                6.2
1                                7.2
2                                8.2
3                                9.5
4                               10.9

   Renewable-electricity-generating-capacity-per-capita  \
0                                               9.22
1                                               8.86
2                                               8.47
3                                               8.09
4                                               7.75

   Financial flows to developing countries (US $)  \
0                                         20000.0
1                                        130000.0
2                                       3950000.0
3                                      25970000.0
4                                             NaN

   Renewable energy share in the total final energy consumption (%)  \
0                                              44.99
1                                              45.60
2                                              37.83
3                                              36.66
4                                              44.24

   Electricity from fossil fuels (TWh)  Electricity from nuclear (TWh)  \
0                                 0.16                             0.0
1                                 0.09                             0.0
2                                 0.13                             0.0
3                                 0.31                             0.0
4                                 0.33                             0.0

   Electricity from renewables (TWh)  ...  \
0                               0.31  ...
1                               0.50  ...
2                               0.56  ...
3                               0.63  ...
4                               0.56  ...

   Primary energy consumption per capita (kWh/person)  \
0                                          302.59482
1                                          236.89185
2                                          210.86215
3                                          229.96822
4                                          204.23125

   Energy intensity level of primary energy (MJ/$2017 PPP GDP)  \
0                                               1.64
1                                               1.74
2                                               1.40
3                                               1.40
4                                               1.20

   Value_co2_emissions_kt_by_country  \
0                         760.000000
1                         730.000000
2                        1029.999971
3                        1220.000029
4                        1029.999971

   Renewables (% equivalent primary energy)  gdp_growth  gdp_per_capita  \
0                                       NaN         NaN             NaN
1                                       NaN         NaN             NaN
2                                       NaN         NaN      179.426579
3                                       NaN    8.832278      190.683814
4                                       NaN    1.414118      211.382074

   Density\n(P/Km2) Land Area(Km2)  Latitude  Longitude
0                60       652230.0  33.93911  67.709953
1                60       652230.0  33.93911  67.709953
2                60       652230.0  33.93911  67.709953
3                60       652230.0  33.93911  67.709953
4                60       652230.0  33.93911  67.709953

[5 rows x 21 columns]

--- Describe ---

              Year  Access to electricity (% of population)  \
count  3649.000000                              3639.000000
mean   2010.038367                                78.933702
std       6.054228                                30.275541
min    2000.000000                                 1.252269
25%    2005.000000                                59.800890
50%    2010.000000                                98.361570
75%    2015.000000                               100.000000
max    2020.000000                               100.000000

       Access to clean fuels for cooking  \
count                        3480.000000
mean                           63.255287
std                            39.043658
min                             0.000000
25%                            23.175000
50%                            83.150000
75%                           100.000000
max                           100.000000

       Renewable-electricity-generating-capacity-per-capita  \
count                                        2718.000000
mean                                          113.137498
std                                           244.167256
min                                             0.000000
25%                                             3.540000
50%                                            32.910000
75%                                           112.210000
max                                          3060.190000

       Financial flows to developing countries (US $)  \
count                                    1.560000e+03
mean                                     9.422400e+07
std                                      2.981544e+08
min                                      0.000000e+00
25%                                      2.600000e+05
50%                                      5.665000e+06
75%                                      5.534750e+07
max                                      5.202310e+09

       Renewable energy share in the total final energy consumption (%)  \
count                                        3455.000000
mean                                           32.638165
std                                            29.894901
min                                             0.000000
25%                                             6.515000
50%                                            23.300000
75%                                            55.245000
max                                            96.040000

       Electricity from fossil fuels (TWh)  Electricity from nuclear (TWh)  \
count                          3628.000000                     3523.000000
mean                             70.365003                       13.450190
std                             348.051866                       73.006623
min                               0.000000                        0.000000
25%                               0.290000                        0.000000
50%                               2.970000                        0.000000
75%                              26.837500                        0.000000
max                            5184.130000                      809.410000

       Electricity from renewables (TWh)  \
count                        3628.000000
mean                           23.968010
std                           104.431085
min                             0.000000
25%                             0.040000
50%                             1.470000
75%                             9.600000
max                          2184.940000

       Low-carbon electricity (% electricity)  \
count                             3607.000000
mean                                36.801182
std                                 34.314884
min                                  0.000000
25%                                  2.877847
50%                                 27.865068
75%                                 64.403792
max                                100.000010

       Primary energy consumption per capita (kWh/person)  \
count                                        3649.000000
mean                                        25743.981745
std                                         34773.221366
min                                             0.000000
25%                                          3116.737300
50%                                         13120.570000
75%                                         33892.780000
max                                        262585.700000

       Energy intensity level of primary energy (MJ/$2017 PPP GDP)  \
count                                        3442.000000
mean                                            5.307345
std                                             3.532020
min                                             0.110000
25%                                             3.170000
50%                                             4.300000
75%                                             6.027500
max                                            32.570000

       Value_co2_emissions_kt_by_country  \
count                       3.221000e+03
mean                        1.598665e+05
std                         7.736611e+05
min                         1.000000e+01
25%                         2.020000e+03
50%                         1.050000e+04
75%                         6.058000e+04
max                         1.070722e+07

       Renewables (% equivalent primary energy)   gdp_growth  gdp_per_capita  \
count                               1512.000000  3332.000000     3367.000000
mean                                  11.986707     3.441610    13283.774348
std                                   14.994644     5.686720    19709.866716
min                                    0.000000   -62.075920      111.927225
25%                                    2.137095     1.383302     1337.813437
50%                                    6.290766     3.559855     4578.633208
75%                                   16.841638     5.830099    15768.615365
max                                   86.836586   123.139555   123514.196700

       Land Area(Km2)     Latitude    Longitude
count    3.648000e+03  3648.000000  3648.000000
mean     6.332135e+05    18.246388    14.822695
std      1.585519e+06    24.159232    66.348148
min      2.100000e+01   -40.900557  -175.198242
25%      2.571300e+04     3.202778   -11.779889
50%      1.176000e+05    17.189877    19.145136
75%      5.131200e+05    38.969719    46.199616